/Dogs&Cats/dataset
/Dogs&Cats/src/.ipynb_checkpoints
/Dogs&Cats/src/test
/Objects/dataset
/Objects/dataset2
/Objects/src/.ipynb_checkpoints
/Objects/src/PersonalTestSet
/Objects/src/Model/model_400x400.h5
/Objects/src/Model/model_200x200.h5
