/Dogs&Cats/dataset
/Dogs&Cats/src/.ipynb_checkpoints
/Dogs&Cats/src/test
/Dogs&Cats/src/Models
/Objects/dataset
/Objects/dataset2
/Objects/src/.ipynb_checkpoints
/Objects/src/PersonalTestSet
/Objects/src/models/model_200x200.h5
/Objects/src/models/model_400x400.h5
/Objects_Detection/darkflow-master
/AudioRecognition&RNN/digit_dataset
/AudioRecognition&RNN/.ipynb_checkpoints
/AudioRecognition&RNN/SpeechRecon/.idea
/AudioRecognition&RNN/dataset
/AudioRecognition&RNN/dataset_animals
/GPU/.ipynb_checkpoints
/SeaTheSound/.ipynb_checkpoints
/SeaTheSound/data